listen = "[::]:1081"
metrics_endpoint = "[::]:1080"
database_url = "postgres://a:b@postgresql"
max_database_connections = 1222
asn = 123
dhcp_servers = ["1.2.3.4", "5.6.7.8"]
route_servers = ["9.10.11.12"]
rapid_iterations = false
initial_domain_name = "forge.local"
initial_dpu_agent_upgrade_policy = "off"
machine_update_run_interval = 60
dpu_ipmi_tool_impl = "fake"
dpu_ipmi_reboot_attempts = 1
max_find_by_ids = 75
nvue_enabled = true
vpc_peering_policy = "exclusive"
vpc_peering_policy_on_existing = "mixed"
internet_l3_vni = 1337
selected_profile = "powerefficiency"

[tls]
identity_pemfile_path = "/path/to/cert"
identity_keyfile_path = "/path/to/key"
root_cafile_path = "/path/to/ca"

[auth]
permissive_mode = false
casbin_policy_file = "/path/to/policy"

[auth.cli_certs]
required_equals = { "IssuerO" = "NVIDIA Corporation", "IssuerCN" = "NVIDIA Forge Root Certificate Authority 2022" }
group_from = "SubjectOU"
username_from = "SubjectCN"

[pools.fnn-asn]
type = "integer"
ranges = [{ start = "4268000000", end = "4268999999" }]

[pools.lo-ip]
type = "ipv4"
prefix = "10.180.62.1/26"

[pools.vlan-id]
type = "integer"
ranges = [{ start = "100", end = "501" }]

[pools.vni]
type = "integer"
ranges = [{ start = "1024500", end = "1024550" }]

[pools.vpc-vni]
type = "integer"
ranges = [{ start = "2024500", end = "2024550" }]

[networks.admin]
type = "admin"
prefix = "172.20.0.0/24"
gateway = "172.20.0.1"
mtu = 9000
reserve_first = 5

[networks.DEV1-C09-IPMI-01]
type = "underlay"
prefix = "172.99.0.0/26"
gateway = "172.99.0.1"
mtu = 1500
reserve_first = 5

[ib_fabrics.default]
endpoints = ["https://1.2.3.4"]
pkeys = [{ start = "1", end = "10" }]

[ib_config]
fabric_monitor_run_interval = "101s"

[site_explorer]
enabled = true
run_interval = "100s"
explorations_per_run = 11
create_machines = true
machines_created_per_run = 2
override_target_ip = "1.2.3.4"
override_target_port = 10443
reset_rate_limit = "2h"
use_onboard_nic = false
cache_intervals = { firmware_inventory = "12h", managers = "30m", systems = "1h", chassis = "2h" }

# Unit is mandatory
[machine_state_controller]
dpu_wait_time = "3m"
power_down_wait = "13s"
failure_retry_time = "31m"
dpu_up_threshold = "33m"
scout_reporting_timeout = "20m"

[machine_state_controller.controller]
iteration_time = "9m"
max_object_handling_time = "99s"
max_concurrency = 999

[network_segment_state_controller]
network_segment_drain_time = "44s"
[network_segment_state_controller.controller]
iteration_time = "8m"
max_object_handling_time = "88s"
max_concurrency = 888

[ib_partition_state_controller.controller]
iteration_time = "7m"
max_object_handling_time = "77s"
max_concurrency = 777

[firmware_global]
autoupdate = false
host_enable_autoupdate = [
  "AAEJOIEFIJL",
  "AJELIJVLNE",
  "ALJIFJSEVDI",
  "fm100dsg80d2f4tq4tt5m8hgib5pcldrm3gvefbduau7gjoitgc0iqg3lpg",
]
host_disable_autoupdate = [
  "FJLSIELIAF",
  "FVLIWEGLWJE",
  "FFULIJWCL",
  "fm100ds27v4uuq7sgs4gsjummskt0b3tedugtpevjrbfh6su081n9jufcq0",
]
run_interval = "20s"
max_uploads = 3

[machine_updater]
instance_autoreboot_period.start = "2025-01-07T00:00:00Z"
instance_autoreboot_period.end = "2026-01-08T00:00:00Z"
max_concurrent_machine_updates_absolute = 1

[dpa_config]
enabled = true
mqtt_endpoint = "mqtt.forge"

[host_models.dell_r750]
vendor = "Dell"
model = "PowerEdge R750"
ordering = ["uefi", "bmc"]

[host_models.dell_r750.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "0.9", mandatory_upgrade_from_priority = "security" },
  { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus]
vendor = "Dell"
model = "PowerEdge R750+"
ordering = ["uefi", "bmc"]

[host_models.dell_r750_plus.components.bmc]
current_version_reported_as = "^Installed-.*__iDRAC."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "1.1", filename = "/mnt/persistence/fw/dell/bmc/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750bmc", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[host_models.dell_r750_plus.components.uefi]
current_version_reported_as = "^Installed-.*__BIOS.Setup."
preingest_upgrade_when_below = "0.5"
known_firmware = [
  { version = "0.9", mandatory_upgrade_from_priority = "security" },
  { version = "2.0", filename = "/mnt/persistence/fw/dell/uefi/r750_1.1.fw", url = "https://letmegooglethat.com/?q=dell750uefi", checksum = "f4d4e0954b5635e6c9a8c79ebaa95218", default = true },
]

[multi_dpu]
enabled = false

[measured_boot_collector]
enabled = false
run_interval = "555s"


[bios_profiles.Lenovo.ThinkSystem_SR655_V3.performance]
DevicesandIOPorts_IOMMU = "Disabled"
OperatingModes_ChooseOperatingMode = "MaximumPerformance"
[bios_profiles.Lenovo.ThinkSystem_SR655_V3.powerefficiency]
DevicesandIOPorts_IOMMU = "Disabled"
OperatingModes_ChooseOperatingMode = "MinimalPower"

[mlx-config-profiles.test-profile]
name = "test-profile"
registry_name = "mlx_generic"
description = "this is a test profile"

[mlx-config-profiles.test-profile.config]
SRIOV_EN = true
NUM_OF_VFS = 4

[mlx-config-profiles.test-profile2]
name = "test-profile2"
registry_name = "mlx_generic"
description = "this is yet another test profile"

[mlx-config-profiles.test-profile2.config]
SRIOV_EN = false
NUM_OF_VFS = 16
